.App {
  display: flex;
  flex-direction: column;
}



.App Menu-content{
  height: 800px;
  display: flex;
  flex-direction: row;
  background-color: aquamarine;
} 

.grid {
  display: grid;
  grid-template-columns: 50px auto;
  grid-template-rows: auto;
}